<style>
    .collapsible {
      background-color: #777;
      color: white;
      cursor: pointer;
      padding: 18px;
      width: 100%;
      border: none;
      text-align: left;
      outline: none;
      font-size: 15px;
    }
    
    th, td {
      padding: 8px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }

	.save_button {
		width: 10%;
		margin: 10px;
		padding: 2px 0px 2px 0px;
		text-align: center;
	}

	.save_button:hover {
		box-shadow: 0 3px 3px 0 rgba(0,0,0,0.24), 0 3px 3px 0 rgba(0,0,0,0.19);
	}

	.save_notification {
		text-align: center;
	}

	.explanation {
		font-size: large;
		margin-bottom: 40px;
	}
    
    .active, .collapsible:hover {
      background-color: #555;
    }
    
    .content {
      padding: 0 18px;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s ease-out;
      background-color: #f1f1f1;
    }

    .notification_table {
      border-collapse: collapse;
      width: 100%;
    }
</style>

<script>
	function saveChanges() {
	  var x = document.getElementById("changes_saved");
	  x.innerText = "Changes saved"; 
	  fadeOut(x)
	}

	function fadeOut(element) {
		var op = 1;  // initial opacity
		var timer = setInterval(function () {
			if (op <= 0.1){
				clearInterval(timer);
			}
			element.style.opacity = op;
			op -= 0.1;
		}, 200);
	}

	function sendChanges() {
		var xmlhttp = new XMLHttpRequest();
		xmlhttp.open("POST", "/cgi-bin/luci/admin/ids_tab/config/save");
		xmlhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");

		var config_json = {};
		config_json.mac_addrs = []

		// Build content from form via checked rows
		var selected_rows = document.getElementsByClassName("row_selector");
		var i;
		for (i = 0; i < selected_rows.length; i++) {
			if (selected_rows[i].checked) {
				var row_id = selected_rows[i].classList[1];
				config_json.mac_addrs.push(document.getElementsByClassName("mac " + row_id)[0].innerHTML)
			}
		} 

		var config = JSON.stringify(config_json);
		xmlhttp.send(config);
		saveChanges()
	}
</script>

<%+header%>             
<body style="width: 100%;height: 100%;">
<iframe id="flask-server" src="//:5000/ids-priv/settings/" width="100%" height="100%"></iframe>
</body>
<script type="text/javascript">
    var el = document.getElementById('flask-server');
    el.src = window.location.origin + el.src.slice(2);
</script>
<%+footer%>
